* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*saco las viñeta */
  list-style: none;
}
body {
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body {
  /*elijo letra */
  font-family: sans-serif;
  /*es para que la primera letra este en mayuscula*/

  text-transform: capitalize;
}
button {
  border: 0;
  /*hace linea alrededor pasando por 3 colores */
  background-image: linear-gradient(
    150deg,
    #9500ff,
    #09f,
    #00ddff
  );
  /*redondeo boton */
  border-radius: 8px;
  color: white;
  /*caja flexibler */
  display: flex;
  /*fuente tamaño */
  font-size: 18px;

  padding: 4px;
  cursor: pointer;
  transition: 2s;
}
button span{
  background-color: #111;
  padding: 16px 24px;
  border-radius: 6px;
  transition: 2s;
}
button :hover span {
  background: none;
}
button :active{
  transform: scale(0.9);
}
/* body .boton {
  display: block;
  width: 100px;
  font-family: Arial, Helvetica, sans-serif;
  /*ancho de letra*/
  /* font-weight: 700; */
  /*redondeo los bordes*/
  /* border-radius: 10px; */
  /*margen izq der*/
  /* margin: 150px 130px; */
  /*15 arriba abajo y 30 izq der*/
  /* padding: 15px 30px; */
  /*color de fondo */
  /* background-color: #7a3604; */
  /*color de letra */
  /* color: #fff; */
  /*saco linea inferior */
  /* text-decoration: none; */
} */
.conteiner {
  max-width: 1200px;
  /*0 y auto para que no se salga del margen*/
  margin: 0 auto;
}
.footer {
  background-color: #242628B;
  /*80 arriba abajo 0 margen*/
  padding: 80px 0;
}
.footer-rom {
  display: flex;
  /*esto es para que se adapte a la pantalla*/
  flex-wrap: wrap;
}
.footer-links {
  width: 25%;
  /*0 y 15 de izquierda a derecha*/
  padding: 0 15px;
}
.footer-links h4 {
  font-size: 20px;
  color: black;
  /*margen acia abajo*/
  margin-bottom: 25px;
  /*para que no se vea tan gruesa la letra*/
  font-weight: 500;
  border-bottom: 2px solid #00c3ff;
  padding-bottom: 10px;
  display: inline-block;
}
.footer-links ul li a {
  font-size: 18px;
  /*quita linea debajo enlase*/
  text-decoration: none;
  color: #000000;
  display: block;
  /*separacion hasia abajo*/
  margin-bottom: 15px;
  /*dura 9 segundos y cambia de color*/
  transition: all 0.9s ease;
}
/*ase que las letras cambien de color*/
.footer-links ul li a:hover {
  /*cambia color de letras cuando pasa cursor sobre ellas */
  color: gold;
  /*es lo que se mueve letra cundo paso cursor*/
  padding-left: 10px;
}
.social-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, gre255en, blu255e, alp0.2ha);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: red;
  transition: all 10s ease;
}
.social-link a:hover {
  background-color: red;
}
